@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$white: #fff;

.video-container {
  background-color: #222;
  
  height:100vh;
  @media(min-width:480px){
    padding: 30px;
  }
  h1{
    font-size: 20px;
    margin-bottom: 20px;
  }
  .video-list {
    @media(min-width:480px){
      display: flex;
      justify-content: center;
    }
    @media(max-width:480px){
      height: calc(100vh - 60px);
    }
  }
  .video {
    border-radius: 0.5rem;
    background: rgba(0, 0, 0, 0.8);
    @media(min-width:480px){
      margin: 0 5px;
    }
    @media(max-width:480px){
      height: calc((100vh - 60px)/2)
    }
    position: relative;
   
    video {
      background-color: #353b48;
      height: 100%;
      width: 100%;
      position: relative;
      border-radius: 5px;
      object-fit: cover;
    }
    .video-name{
      padding:3px 8px;
      border-radius: 0.5rem;
    background: rgba(0, 0, 0, 0.8);
    color: $white;
    font-size: 12px;
    position: absolute;
    bottom:5px;
    left:5px;
    text-align: center;
    }
  }
  .video-bottom {
    display: flex;
    justify-content: center;
  }
  .btn-video {
    color: $white;
    background: #3c4043;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    svg {
      color: $white;
    }
    &.active{
      background: rgb(234, 67, 53);
    }
  }
  .btn-endcall {
    margin: 10px;
    border-radius: 100px;
    width: 3.5rem;
    height: 2.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $white;
    background-color: rgb(234, 67, 53);
    font-size: 24px;
    svg {
      color: $white;
    }
  }
}


.form__video{
  flex-direction: column;
    position: relative;
    flex: 1 0 auto;
    min-height: 0;
    width: 400px;
    padding: 0 40px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    

    
}
.form__input__box{
  margin-bottom: 15px;
  .form__input{
    height: 44px;

    color: rgba(0, 0, 0, 0.88);
    padding: 4px 11px;
    font-size:14px;
    width: 100%;
  }
  &.form__input__copy{
    position: relative;
    .btn__copyclipboard{
      width: 100%;
      height: 100%;
      position: absolute;
      right: 0;
      top:0;
    }
    svg{
      display: flex;
    margin-left: auto;
    margin-right: 15px
    }
  }
}
.form__invite{
  background: #fff;
  padding: 20px;
  .btn__invite{
    min-width: 120px;
    padding: 0 10px;
    background: #222;
    border-radius:5px;
    height: 40px;
    line-height: 40px;
    color: $white;
    font-size: 14px;
  }
}
.form__input__group {
  margin-bottom: 15px;
  .form__input {
    height: 44px;

    color: rgba(0, 0, 0, 0.88);
    padding: 4px 11px;
    font-size: 14px;
    width: 100%;
  }
  span{
    font-size: 14px;
  }
}